      <main id="tab5" class="tabcontent">
       <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         <div class="row cards" >
            
  <div class="card-panel">
    <div class="col grid-example s12 white blue-text"><span class="flow-text">Articles</span></div>
  </div>
     <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
       
        <li class="tab col s3"><a class="active" href="#tech">Tech News</a></li>
      
        <li class="tab col s3"><a href="#articles">Articles</a></li>
      </ul>
    </div>
   
    <div id="tech" class="col s12">
    <% articles.forEach(function(article) { %>
         <div class="col s12 m4">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= article.image %>" width="100px" height="230px" >
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p ><%= article.title %></p>
            <li class="collection-item date  right">Published on <%= article.date %></li>
        </div>
        <div class="card-action center">
          <a class="btn blue modal-trigger" href="#modal">view </a>

        </div>
      </div>
    </div>
  </div>
                
          <% }); %>   
         
         
         
         </div>
    
    <div id="articles" class="col s12">
 <% techs.forEach(function(tech) { %>
         <div class="col s12 m4">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= tech.image %>" width="100px" height="230px" >
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p ><%= tech.title %></p>
            <li class="collection-item date  right">Published on <%= tech.date %></li>
        </div>
        <div class="card-action center">
          <a class="btn blue modal-trigger" href="#modal">view </a>

        </div>
      </div>
    </div>
  </div>
                
          <% }); %>   
         
         </div>
         
  </div>
     </div>
  
      </main>