 <main id="tab9" class="tabcontent">
      <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         <div class="row cards" >
            
  <div class="card-panel">
    <div class="col grid-example s12 white blue-text"><span class="flow-text">Campus Drive</span></div>
  </div>
         <div class="row cards" >
           
          
         <div class="row">
               <% cdrives.forEach(function(cdrive) { %>
    <div class="col s12 m4">
        
      <div class="card-panel ">
          <img class="materialboxed" data-caption="<%= cdrive.company %> " width="100%" height="400px"  src="<%= cdrive.upload %>" >
          <span class="purple-text"><%= cdrive.company %>  </span><span class="date"> (<%= cdrive.date %>)
        </span><br>
           <span class="purple-text">Package : <%= cdrive.package %> LPA </span><br>
           <span class="purple-text">Eligibility : <%= cdrive.eligibility %>  </span>
      </div>
    </div>
           <% }); %>          
         </div>
   
     </div>
     </div>
      </main>