      <main id="tab11" class="tabcontent">
      <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         
            
  <div class="card-panel">
    <div class="col grid-example s12 white blue-text"><span class="flow-text">Articles</span></div>
  </div>
         <div class="row cards" >

      
    <div  class="col s12">         
        <% exams.forEach(function(exam) { %>
        <div class="col s12 m4">
    
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/297443.png" width="100px" height="190px" >
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p ><%= exam.course %> <%= exam.year %>   <%= exam.for %><br> <%= exam.type %> is out for <%= exam.regulation %> </p>
        </div>
        <div class="card-action center">
          <a class="btn" href="<%= exam.file %>">Download </a>
        </div>
      </div>
    </div>
  </div>
            <% }); %>  
             </div>
                
             </div>
 
      </main>