      <main id="tab4" class="tabcontent">
       <div class="col center grid-example s12 blue  "><span class="flow-text">Campus News</span></div>
 
         <div class="row cards" >
            
  <div class="card-panel">
    <div class="col grid-example s12 white blue-text"><span class="flow-text">Articles</span></div>
  </div>
     <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
       
        <li class="tab col s3"><a href="#students">Students</a></li>
      
        <li class="tab col s3"><a href="#faculty">Faculty</a></li>
           <li class="tab col s3"><a class="active" href="#holidays">Holidays</a></li>
      
        <li class="tab col s3"><a class="active"  href="#competitions">Competitions</a></li>
      </ul>
    </div>
   
    <div id="students" class="col s12">
    <% students.forEach(function(student) { %>
            <div class="card  m4 s12">
              <div class="card-image">
                <img class="materialboxed" height="200px" width="280px" src="<%= student.image %>">
               
              </div>
              <div class="card-content">
                <p><%= student.title %></p>
              </div>
             
            </div>
                
          <% }); %>   
         
         
         
         </div>
    
    <div id="faculty" class="col s12">
 <% faculty.forEach(function(faculty) { %>
              <div class="card  m4 s12">
              <div class="card-image">
                <img class="materialboxed" height="200px" width="280px" src="<%= faculty.image %>">
               
              </div>
              <div class="card-content">
                <p><%= faculty.title %></p>
              </div>
             
            </div>
                
          <% }); %>   
         
         </div>
             <div id="holidays" class="col s12">
 <% holidays.forEach(function(holiday) { %>
    <div class="col  m4 s12 ">
        
      <div class="card-panel ">
          <img class="materialboxed center" height="200px" width="100%" src="<%= holiday.image %>" data-caption="<%= holiday.title %>">
          <span class="purple-text"><%= holiday.title %> </span><span class="date"> (<%= holiday.date %>)
        </span>
      </div>
    </div>
                
          <% }); %>   
         
         </div>
             <div id="competitions" class="col s12">
 <% competitions.forEach(function(competition) { %>
                 
             
    <div class="col  m4 s12 ">
        
      <div class="card-panel  ">
          <img class="materialboxed " height="200px" width="100%" src="<%= competition.image %>" data-caption="<%= competition.title %>">
          <span class="purple-text"><%= competition.title %> </span><span class="date"> (<%= competition.date %>)
        </span>
      </div>
    </div>
                
          <% }); %> 
            </div>
                
       
         
         
  </div>
     </div>
  
      </main>