 <main id="tab10" class="tabcontent">
         <div class="row cards" >
            <div class="col grid-example s12 #82b1ff blue accent-1 "><span class="flow-text">Seminars</span></div>
             
                  
           <div>
             
              <ul class="collapsible"><% seminars.forEach(function(seminar) { %>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= seminar.topic %></div>
      <div class="collapsible-body"><span><ul class="collection">
      <li class="collection-item"><%= seminar.by %></li>
      <li class="collection-item"><%= seminar.by %></li>
      <li class="collection-item"><%= seminar.from %></li>
      <li class="collection-item"><%= seminar.date %></li>
       <li class="collection-item"><%= seminar.audience %></li>    
    </ul></span></div>
    </li>
  <% }); %>
  </ul>
             
             </div>
            
           
               

         </div>
      </main>